@media (min-width: 768px) {
    #menu-hamburguer {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: block !important;
    }

    nav ul {
        display: flex;
        margin: 0;
        gap: 10px;
    }

    nav li a {
        border-top: none;
        padding: 10px 15px;
        border-radius: 4px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .grid-cursos {
        grid-template-columns: repeat(3, 1fr);
    }
}