@media (min-width: 768px) {
    #btnMenu {
        display: none;
    }

    nav {
        display: block !important;
        width: auto;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
        padding-top: 0;
    }

    header {
        padding: 1rem 2rem;
    }
}